<h1>Kittens</h1>

<ul>
  <% @kittens.each do |kitten| %>
  <li>
    <h3><%= kitten.name %></h3>
    <ul>
      <li> Age: <%= kitten.age %></li>
      <li>Cuteness: <%= kitten.cuteness %></li>
      <li> Softness: <%= kitten.softness %></li>
    </ul>
  </li>

  <% end %>
</ul>
